
body {
      background-color: #f5f0e1; /* beige chiaro */
      color: #4e342e; /* marrone scuro */
      font-family: 'Georgia', serif;
    }

    .navbar {
      background-color: #d7ccc8; /* beige-marrone */
    }

    .navbar a {
      color: #4e342e;
      font-weight: bold;
    }

    .navbar a:hover {
      color: #a1887f;
    }

    .cover {
  position: relative;
  height: 60vh;
  background: url('../img/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA5LzE4OC1fb21vaV90c3V6dXJhLmpwZw.webp') center center / cover no-repeat;
  overflow: hidden;
  color: white;
}

.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  filter: blur(2px);
  transform: scale(1.1);
  z-index: 0;
}

.cover h1,h2,
.cover .title {
  position: relative;
  z-index: 1;
}
.cover h1{
  font-size: 70px;
  
}
.coverKappa{
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
      height: 300px; 
      display:flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-shadow: 2px 1px 5px #000;
      padding: 60px 20px;
      text-align: center;
    }

    
    .title{
       writing-mode: vertical-rl;
       text-orientation:upright;
       overflow: hidden;
      white-space: nowrap;
     
    }

    .titleKappa{
       writing-mode: vertical-rl;
       text-orientation:upright;
       overflow: hidden;
      white-space: nowrap;
      transform: translateY(25%);
    font-size: 3rem;
    }

    .content {
      padding: 40px 20px;
    }
    .card {
      background-color: #efebe9;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      transition: transform 0.3s;
    }
    .card img{
      height: 300px;
       object-fit: cover;
    }
    .card:hover {
      transform: scale(1.03);
    }
    #filtro:hover{
      transform: none;
    }
    .card-title {
      min-height: 80px; 
      display: flex;
      align-items: flex-end;
      justify-content: center;
      text-align: center;
    }

    .card-title a {
      text-decoration: none;
      color: #4e342e;
      font-weight: bold;
    }

    .card-title a:hover {
      color: #3e2723;
    }
    .breadcrumb {
      text-decoration: none;
      padding: 10px 30px;
    }


    
    footer {
      background-color: #d7ccc8;
      color: #4e342e;
      padding: 20px;
      text-align: center;
      margin-top: 40px;
    }
    .titleWebProjectPlan{
      font-size: 20px;
      margin-bottom: 10px;
      margin-top:10px;
    }